
#home{
  width: 100vw;
  height: 100%;
  background: #12aae6;
background: linear-gradient(90deg, rgb(8, 20, 25) 0%, rgb(33, 221, 149) 100%, rgb(198, 9, 9) 0%, rgba(33, 217, 109, 1) 100%, rgba(131, 205, 118, 1) 100%, rgba(80, 140, 34, 1) 100%, rgba(237, 221, 83, 1) 100%);


}
#log{
  width: 100vw;
  height: 100vh;
  background: #12aae6;
background: linear-gradient(90deg, rgb(8, 20, 25) 0%, rgb(33, 221, 149) 100%, rgb(198, 9, 9) 0%, rgba(33, 217, 109, 1) 100%, rgba(131, 205, 118, 1) 100%, rgba(80, 140, 34, 1) 100%, rgba(237, 221, 83, 1) 100%);



}
#tog{
  position: absolute;
  z-index: 3;
  height: 100vh;
  top: 1px;
  width: 50%;
  margin-left: -500px;
  
}
#btn-1{
  position: absolute;
  bottom: 0%;
}
#sign{
  width: 100vw;
  height: 100vh;
  background: #12aae6;
background: linear-gradient(90deg, rgb(8, 20, 25) 0%, rgb(33, 221, 149) 100%, rgb(198, 9, 9) 0%, rgba(33, 217, 109, 1) 100%, rgba(131, 205, 118, 1) 100%, rgba(80, 140, 34, 1) 100%, rgba(237, 221, 83, 1) 100%);


}
#pointer:hover{
  cursor: pointer;
}
#log-1{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  overflow: hidden;
}
#animi{
animation: ani 0.5s infinite;
color:white;
}
#mobile{
  box-shadow: rgba(22, 22, 22, 0.3) 0px 19px 38px, rgba(7, 7, 7, 0.22) 0px 15px 12px;
  padding-top: 1px;
  position: sticky;
  top: 0%;
  z-index: 3;
}
#bar:hover{
  cursor: pointer;

}
@keyframes ani {
  to{
  text-shadow: 0 0 5px red,0 0 30px red,0 0 50px red,0 0 70px red,0 0 100px red;
   


  }
  
}
#profile{
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
}
#nav{
  box-shadow: rgba(4, 4, 4, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  z-index: 3;
}
#otp{
  display: none;
}